<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Foodtastic!</title>
    <!-- Mobile-friendly viewport -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Foodtastic!</h1>
      {% block header %}
      {% endblock %}

      {% block flash %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% endblock %}
    </header>

    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
