{% extends "base.html" %}

{% block header %}
  <nav>
		<ul class="navbar">
      <li><a href="{{url_for('showRestaurants')}}">Home</a></li>
		</ul>
  </nav>
{% endblock %}

{% block main %}
  <h3>Create new restaurant:</h3>
  <form action="{{url_for('newRestaurant')}}" method="post">
      <label for="name">New Restaurant Name:</label>
      <input type="text" name="name" value="">
      <br>
      <input type="submit" name="submit" value="submit">
      <a href="{{url_for('showRestaurants')}}">Cancel</a>
  </form>
{% endblock %}
