<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Foodtastic!</title>
    <!-- Mobile-friendly viewport -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Foodtastic!</h1>
      <nav>
  			<ul class="navbar">
          <li><a href="{{url_for('showRestaurants')}}">Home</a></li>
  			</ul>
      </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </header>

    <main>
      <h3>Create new restaurant:</h3>
      <form action="{{url_for('newRestaurant')}}" method="post">
          <label for="name">New Restaurant Name:</label>
          <input type="text" name="name" value="">
          <br>
          <input type="submit" name="submit" value="submit">
          <a href="{{url_for('showRestaurants')}}">Cancel</a>
      </form>
    </main>
  </body>
</html>
