<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Foodtastic!</title>
    <!-- Mobile-friendly viewport -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Foodtastic!</h1>
      <nav>
  			<ul class="navbar">
          <li><a href="{{url_for('showRestaurants')}}">Home</a></li>
  			</ul>
      </nav>
    </header>

    <main>
      <h3>Edit menu item:</h3>
      <form action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method="post">
          <label for="name">Item Name:</label>
          <input type="text" name="name" placeholder="{{item.name}}">
          <br>
          <label for="name">Price:</label>
          <input type="text" name="name" placeholder="{{item.price}}">
          <br>
          <label for="desc">Item Description:</label>
          <textarea name="desc">{{item.description}}</textarea>
          <br>
          <input type="submit" name="submit" value="submit">
          <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Cancel</a>
      </form>
    </main>
  </body>
</html>
