{% extends "base.html" %}

{% block header %}
  <nav>
		<ul class="navbar">
      <li><a href="{{url_for('showRestaurants')}}">Home</a></li>
		</ul>
  </nav>
{% endblock %}

{% block main %}
  <form action="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}" method="post">
      <h2>Edit Restaurant:</h2>
      <label for="name">Restaurant Name:</label>
      <input type="text" name="name" placeholder="{{restaurant.name}}">
      <br>
      <input type="submit" name="submit" value="Modify">
      <a href="{{url_for('showRestaurants')}}">Cancel</a>
  </form>
{% endblock %}
