{% extends "base.html" %}

{% block header %}
  <h2>{{restaurant.name}} - Menu</h2>
  <nav>
		<ul class="navbar">
      <li><a href="{{url_for('showRestaurants')}}">Home</a></li>
			<li><a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Create new menu item</a></li>
		</ul>
  </nav>
{% endblock %}

{% block main %}
  {% for item in items %}
  <article class="menu">
    <div class="menu-item">
      <h4>{{item.name}}</h4>
      <p>{{item.description}}</p>
      <p>price: {{item.price}}</p>
      <p>course: {{item.course}}</p>
      <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}">Edit</a>
      <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}">Delete</a>
    </div>
  </article>
  {% endfor %}
  {% if items|length == 0 %}
    <p>There are no items here.</p>
  {% endif %}
{% endblock %}
